### gradle ###
**/build/
!src/**/build/
# Ignore Gradle GUI config
gradle-app.setting
# Cache of project
.gradletasknamecache
# Ignore Gradle project-specific cache directory
.gradle

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### env variables ###
/.env

