services:
  app:
    image: ${REGISTRY_PREFIX}${PROJECT}:latest
    container_name: $PROJECT
    working_dir: /app
    volumes:
      - ~/voice:/app/src/main/resources/voice
      - ~/.config/google/google-credentials.json:/app/google-credentials.json
      - tmp_data:/tmp
    env_file:
      - .env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /app/google-credentials.json
      JAVA_OPTS: "-Xmx384m -Xms128m -XX:MaxRAMPercentage=80.0 -XX:ActiveProcessorCount=1 -XX:+UseContainerSupport"
    ports:
      - "$SERVER_PORT:$SERVER_PORT"
      - "$TGBOT_PROXY_PORT:$TGBOT_PROXY_PORT"
    # Limit resources usage
    deploy:
      resources:
        limits:
          memory: 384m
          cpus: '0.5'
        reservations:
          memory: 128m
          cpus: '0.25'
    # if deploy does not work, use the following
    mem_limit: 384m
    mem_reservation: 128m
    cpus: 0.5
    restart: always
    networks:
      app-network: { }

volumes:
  tmp_data:

networks:
  app-network:
